.container {
  position: relative;
  width: 1360px;
  height: 1375px;
  background-color: white;
}
.navigation {
  position: absolute;
  width: 1109px;
  height: 23px;

  top: 61px;
  left: 126px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: absolute;
  width: 90.13px;
  height: 19.34;
  margin-top: 0.12px;
  margin-left: 0.07px;
  display: flex;
  flex-wrap: wrap;
}
.menu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  left: 86%;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
.footer {
  position: absolute;
  width: 1110px;
  height: 23px;
  top: 1306px;
  margin-left: 125px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footermenu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  left: 68%;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
.footerimage {
  display: flex;
}

.footerimg {
  margin-right: 20px;
}

.footerimg:last-child {
  margin-right: 0;
}
.Contact-Title {
  position: absolute;
  width: 475px;
  height: 174px;
  top: 194px;
  margin-left: 125px;
}
.Contact-Brand {
  position: absolute;
  width: 445px;
  height: 56px;
  top: 390px;
  margin-left: 125px;
}
.Contact-Form {
  position: absolute;
  width: 475px;
  height: 291px;
  top: 215px;
  margin-left: 760px;
}
.Contact-Map {
  position: absolute;
  width: 1110px;
  height: 570px;
  top: 626px;
  margin-left: 125px;
}
.contact-heading {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  display: contents;
}
.contact-paragh {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #979797;
  display: contents;
}
.Contact-Form {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
  color: #979797;
}
.Contact-Form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.Contact-Form .inputBox input,
.Contact-Form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #979797;
  outline: none;
  resize: none;
}
.Contact-Form .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #979797;
}
.Contact-Form .inputBox input:focus ~ span,
.Contact-Form .inputBox input:focus ~ span,
.Contact-Form .inputBox textarea:focus ~ span,
.Contact-Form .inputBox textarea:valid ~ span {
  color: rgb(211, 63, 63);
  font-size: 12px;
  transform: translateY(-20px);
}
.Contact-Form .inputBox input[type="submit"] {
  width: 100px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}
