.container {
  position: relative;
  max-width: 1360px;
  width: 100%;
  margin: auto;
  min-height: 2068px;
  background-color: white;
}

.navigation {
  position: absolute;
  max-width: 1109px;
  width: 100%;
  margin: auto;
  height: 23px;
  top: 61px;
  left: 126px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  position: absolute;
  width: 90.13px;
  height: 19.34;
  margin-top: 0.12px;
  margin-left: 0.07px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 86%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  margin: auto;
  height: 23px;
  top: 2001px;
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footermenu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 68%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.Rect-Image1 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 263px;
  margin-left: 900px;
}

.Rect-Image2 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 318px;
  margin-left: 900px;
}

.Rect-Image3 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 376px;
  margin-left: 900px;
}

.Rect-Image4 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 430px;
  margin-left: 900px;
}

.Rect-Image5 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 487px;
  margin-left: 900px;
}

.Rect-Image6 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 545px;
  margin-left: 900px;
}

.footerimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerimg {
  margin-right: 20px;
}

.footerimg:last-child {
  margin-right: 0;
}

.Project-title {
  position: absolute;
  max-width: 495px;
  width: 100%;
  margin: auto;
  height: 130px;
  top: 184px;
  margin-left: 115px;
}

.Project-Details {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  min-height: 343px;
  top: 222px;
  margin-left: 900px;
}

.Project-Text {
  position: absolute;
  max-width: 635px;
  width: 100%;
  margin: auto;
  min-height: 222px;
  top: 343px;
  margin-left: 125px;
}

.Project-Image {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  margin: auto;
  min-height: 660px;
  top: 626px;
  margin-left: 125px;
}

.Project-Varia {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  height: 93px;
  top: 1331px;
  margin-left: 125px;
}

.Project-Image1 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 125px;
}

.Project-Image2 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 505px;
}

.Project-Image3 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 885px;
}

.title-heading {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 40px;
  display: contents;
}

.Project-Details-Info {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #979797;
}

.Variable-text {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.Project-Details {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr) [6];
  grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr) [7];
  grid-template-columns: repeat(7, 1fr);
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.Project-Details > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.Project-Details > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.Project-Details > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.Project-Details > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.Project-Details > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.Project-Details > *:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.Project-Details > *:nth-child(37) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.Project-Details > *:nth-child(38) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.Project-Details > *:nth-child(39) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.Project-Details > *:nth-child(40) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.Project-Details > *:nth-child(41) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.Project-Details > *:nth-child(42) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.Proj1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.Proj2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.Proj3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.Proj4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.Proj5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.Proj6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.pro-text {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  color: #979797;
}

.Proj7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.Proj8 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.Proj9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.Proj10 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.Proj11 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.Proj12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.pro-text1 {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}
/*# sourceMappingURL=Project-Details.css.map */
