.container {
  position: relative;
  max-width: 1360px;
  width: 100%;
  margin: auto;
  min-height: 2068px;
  background-color: white;
}
.navigation {
  position: absolute;
  max-width: 1109px;
  width: 100%;
  margin: auto;
  height: 23px;
  top: 61px;
  left: 126px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: absolute;
  width: 90.13px;
  height: 19.34;
  margin-top: 0.12px;
  margin-left: 0.07px;
  display: flex;
  flex-wrap: wrap;
}
.menu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  left: 86%;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
.footer {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  margin: auto;
  height: 23px;
  top: 2001px;
  margin-left: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footermenu {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  left: 68%;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
.Rect-Image1 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 263px;
  margin-left: 900px;
}
.Rect-Image2 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 318px;
  margin-left: 900px;
}
.Rect-Image3 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 376px;
  margin-left: 900px;
}
.Rect-Image4 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 430px;
  margin-left: 900px;
}
.Rect-Image5 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 487px;
  margin-left: 900px;
}
.Rect-Image6 {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  height: 1px;
  top: 545px;
  margin-left: 900px;
}

.footerimage {
  display: flex;
}

.footerimg {
  margin-right: 20px;
}

.footerimg:last-child {
  margin-right: 0;
}
.Project-title {
  position: absolute;
  max-width: 495px;
  width: 100%;
  margin: auto;
  height: 130px;
  top: 184px;
  margin-left: 115px;
}
.Project-Details {
  position: absolute;
  max-width: 335px;
  width: 100%;
  margin: auto;
  min-height: 343px;
  top: 222px;
  margin-left: 900px;
}

.Project-Text {
  position: absolute;
  max-width: 635px;
  width: 100%;
  margin: auto;
  min-height: 222px;
  top: 343px;
  margin-left: 125px;
}
.Project-Image {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  margin: auto;
  min-height: 660px;
  top: 626px;
  margin-left: 125px;
}
.Project-Varia {
  position: absolute;
  max-width: 1110px;
  width: 100%;
  height: 93px;
  top: 1331px;
  margin-left: 125px;
}
.Project-Image1 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 125px;
}
.Project-Image2 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 505px;
}
.Project-Image3 {
  position: absolute;
  max-width: 350px;
  width: 100%;
  min-height: 400px;
  top: 1469px;
  margin-left: 885px;
}
.title-heading {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 40px;
  display: contents;
}
.Project-Details-Info {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #979797;
}
.Variable-text {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.Project-Details {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.Proj1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.Proj2 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.Proj3 {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.Proj4 {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
.Proj5 {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}
.Proj6 {
  grid-row: 6 / 7;
  grid-column: 1 / 3;
}
.pro-text {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  color: #979797;
}

.Proj7 {
  grid-row: 1 / 2;
  grid-column: 4 / 8;
}
.Proj8 {
  grid-row: 2 / 3;
  grid-column: 4 / 8;
}
.Proj9 {
  grid-row: 3 / 4;
  grid-column: 4 / 8;
}
.Proj10 {
  grid-row: 4 / 5;
  grid-column: 4 / 8;
}
.Proj11 {
  grid-row: 5 / 6;
  grid-column: 4 / 8;
}
.Proj12 {
  grid-row: 6 / 7;
  grid-column: 4 / 8;
}
.pro-text1 {
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}
